
{%- for post in postslist | reverse %}
<article reversed  class="news-item postlist" style="--postlist-index: {{ (postslistCounter or postslist.length) + 1 }}">
    {%- if post.data.image %}
    <div class="news-item-image">
      <a href="{{ post.url }}">
        <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
      </a>
    </div>
    {%- endif %}
    <div class="news-item-content">
      <time class="news-item-date postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
      </time>
      <h3 class="news-item-title postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
        <a href="{{ post.url }}" class="postlist-link">
          {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      </h3>
      <p class="news-item-excerpt">
        {{ post.data.excerpt }}
      </p>
      <a href="{{ post.url }}" class="news-item-readmore">Read More →</a>
    </div>
</article>	
{%- endfor %}
