{% extends "layout/base.njk" %}

{% block head%}
    <link rel="stylesheet" href="assets/css/home.css" />
{% endblock %}

{% block extraHeader %} 
  <hr />
  <p>
    Advancing Trustworthy AI for Cyber-Physical and Autonomous Systems
  </p>
{% endblock %}

{% block homeBanner %} 
  
{% endblock %}
