{% extends "layout/base.njk" %}

{% block head%}
    <link rel="stylesheet" href="assets/css/home.css" />
{% endblock %}

{% block homeBanner %}
  <section id="banner">
    <header>
      <h2>What Drives Us</h2>
      <p>
        Ensuring that AI-powered systems are trustworthy, safe, and accountable is
        essential for their deployment in high-stakes environments like robotics
        and autonomous platforms. As AI becomes increasingly integrated into
        cyber-physical systems, we focus on correctness, robustness, and safety
        under uncertainty, grounded in mathematical rigor and formal guarantees.
      </p>
    </header>
  </section>
{% endblock %}
