---
layout: layout/base.njk
---
{% block head%}
    <link rel="stylesheet" href="/assets/css/news.css" />
{% endblock %}

<header class="post-header">
        {# The main title for the post #}
    <h1>{{ title or "This is the Main Post Title" }}</h1>

    {# The metadata (date and tags) #}
    <ul class="post-metadata">
        <li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
        
        {# {%- for tag in tags %}
            {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
        {%- endfor %} #}
    </ul>
</header>

{{ content | safe }}

<div class="back-to-news">
    <!-- Make sure this path is correct for your site structure -->
    <a href="/news/">Back to All News</a>
</div>

{%- if collections.news %}
{%- set previousPost = collections.news | getPreviousCollectionItem %}
{%- set nextPost = collections.news | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	 {%- if previousPost %}
        <li class="links-nextprev-prev">
            <div class="label">← Previous Post</div>
            <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
        </li>
        {% endif %}

        {%- if nextPost %}
        <li class="links-nextprev-next">
            <div class="label">Next Post →</div>
            <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        </li>
    {% endif %}
</ul>
{%- endif %}
{%- endif %}